.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color:var(--white-color);
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 280px;
  width: calc(100% - 280px);
  z-index: 1000;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  background: var(--search-bar-color);
  border-radius: 20px;
  padding: 8px 15px;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.search-box i {
  font-size: 1rem;
  color: var(--light-gray);
  margin-right: 10px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-size: 0.9rem;
  color: var(--dark-gray);
}

.search-box input::placeholder {
  color: var(--light-gray);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.icon-btn i {
  font-size: 1.2rem;
  color: var(--light-gray)
}

.icon-btn:hover {
  background: var(--hover-color);
}

.icon-btn:hover i {
  color: var(--primary-color)
}

.notification-btn {
  position: relative;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: var(--notification-color);
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: box-shadow 0.3s ease;
}

.user-profile img:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.user-profile .user-name {
  font-size: 0.9rem;
  color: #4b5563;
  font-weight: 500;
}
