<div class="sidebar">
  <div class="sidebar-header">
    <i class="fas fa-gas-pump"></i>
    <h3>FuelOpti</h3>
  </div>
  <div class="sidebar-sections">
    <div class="sidebar-section">
      <h4>HOME</h4>
      <ul class="sidebar-menu">
        <li class="sidebar-item"  (click)="setActive('dashboard')" [class.active]="activeLink === 'dashboard'">
          <a routerLink="/dashboard" routerLinkActive="active"   [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-th-large"></i>
            <span>Dashboard</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sidebar-section">
      <h4>Sections</h4>
      <ul class="sidebar-menu">
        <li  class="sidebar-item" (click)="setActive('drivers')" [class.active]="activeLink === 'drivers'">
          <a routerLink="/drivers" routerLinkActive="active"   [routerLinkActiveOptions]="{ exact: true }" (click)="navigateToDriversTable()">
            <i class="fa-solid fa-user"></i>
            <span>Drivers</span>
          </a>
        </li>        
        <li class="sidebar-item" (click)="setActive('reports')" [class.active]="activeLink === 'reports'">
          <a routerLink="/reports" routerLink="/drivers" routerLinkActive="active"   [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-file-lines"></i>
            <span>Reports</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a routerLink="/alarms" routerLinkActive="active"   [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa-solid fa-bell"></i>
            <span>Alarms</span>
          </a>
        </li>
        <!-- <li class="sidebar-item">
          <a>
            <i class="fas fa-bars"></i>
            <span>Menu</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a>
            <i class="fas fa-info-circle"></i>
            <span>Tooltips</span>
          </a>
        </li> -->
      </ul>
    </div>
    <div class="sidebar-section">
      <h4>Settings</h4>
      <ul class="sidebar-menu">
        <li class="sidebar-item">
          <a>
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Log out</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a>
            <i class="fa-solid fa-circle-question"></i>
            <span>Help</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
